* {
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}
.main {
	margin-top: -150px;
}

.line {
	border-left: 1px solid #d1d5db;
	height: 350px;
}

hr {
	width: 80%;
	margin-left: 10% !important;
	margin-right: 10% !important;
}

.image {
	position: relative;
}

.image img {
	width: 100%;
	vertical-align: top;
}

.image:after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(63, 63, 70);
	opacity: 0;
	transition: all 1s;
	-webkit-transition: all 1s;
	border-radius: 8px;
}

.image:hover:after {
	opacity: 1;
	border-radius: 8px;
}

.project-btn {
	display: none;
}

.image:hover > .project-btn {
	display: block;
	opacity: 0;
	animation: fade 1s ease-in-out 0.1s forwards;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.react-icons {
	width: 40px;
	height: 40px;
	margin-top: 50px;
}

.react-icons:hover {
	color: #3f3f46;
}
/* .feature {
	display: none;
	padding: 10px;
	background-color: #d020ac;
	position: fixed;
	z-index: 1;
	border-radius: 0 0 5px 0;
}

@media screen and (min-width: 320px) {
	.feature {
		display: block;
	}
}

.feature a {
	text-decoration: none;
	color: white;
}

.nav {
	padding: 32px 10px 0;
}

.nav li {
	list-style-type: none;
}

.nav a {
	text-decoration: none;
	color: black;
	padding: 10px;
	transition: ease-out 0.5s;
}
.nav ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
}

.nav a:hover {
	background-color: #d020ac;
	padding: 10px;
	color: white;
	border-radius: 5px;
	transition: ease-in 0.5s;
}

.header {
	overflow: hidden;
	position: relative;
}

.banner-background {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: right;
}

.banner-info {
	position: relative;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 20px;
}

.banner-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.banner-text h2 {
	margin-bottom: 20px;
}

.banner-info img {
	height: 120px;
	border-radius: 50%;
	border: 1px white solid;
}

.banner-info h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
}

.banner-info a {
	padding: 10px 25px 10px 25px;
	background-color: #d020ac;
	border: 1px #d020ac solid;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	text-align: center;
	width: 150px;
	margin-top: 15px;
	transition: ease-out 0.5s;
}

.banner-info a:hover {
	background-color: transparent;
	border: 1px white solid;
	color: white;
	transition: ease-in 0.5s;
}

.about {
	display: flex;
	padding: 20px 20px;
	align-items: center;
	text-align: center;
}

.about h3 {
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
}

.about p {
	text-align: center;
	margin-top: 20px;
}
.container-two {
	background-color: rgb(250, 250, 250);
	padding: 25px 0 25px 0;
}

.container {
	background-color: white;
	box-shadow: 5px 5px 15px 5px rgb(136, 136, 136);
	margin: 25px;
	border-radius: 5px;
}

.container:hover {
	transform: rotate(0.5deg);
}
.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 25px;
}

.projects-h3 {
	display: flex;
	justify-content: center;
}
.projects-h3 h3 {
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
}

.projects h4 {
	font-family: 'Great Vibes', cursive;
	padding: 25px;
	font-size: 20px;
	color: #333;
	text-align: center;
}

.projects img {
	width: 100%;
	transition: all 0.3s ease;
	border-radius: 4px;
	padding: 0 15px 15px 15px;
}

.contact {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 25px;
}

.contact h3 {
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
}

.contact img {
	height: 120px;
	padding: 25px;
	transition: ease 1s;
}

.contact img:hover {
	transform: scaleY(1.2) scaleX(1.2);
	transition: ease 1s;
}

.contact-button {
	display: block;
	margin: 25px auto;
	padding: 10px 25px 10px 25px;
	background-color: #d020ac;
	border: 1px #d020ac solid;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	text-align: center;
	width: 30%;
	transition: ease-out 0.5s;
}

.contact-button:hover {
	background-color: transparent;
	border: 1px #d020ac solid;
	color: #d020ac;
	transition: ease-in 0.5s;
}

footer {
	padding: 25px;
	background-color: black;
	color: white;
	text-align: center;
}

.lang-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.lang-info h4 {
	font-size: 25px;
	font-family: 'Great Vibes', cursive;
}

.lang-li ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}

.lang-li li {
	list-style-type: none;
	padding: 20px;
}

@media screen and (min-width: 800px) {
	.projects {
		flex-wrap: wrap;
	}
	.container {
		width: 40%;
	}

	.banner-info {
		max-width: 65%;
		flex-direction: row;
	}

	.banner-text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
	}

	.banner-info img {
		margin-right: 20px;
	}
}

@media screen and (min-width: 1200px) {
	.banner-info {
		align-items: center;
		height: 500px;
		max-width: 60%;
	}

	.banner-background {
		height: 500px;
	}

	.banner-info img {
		margin: 0 50px 0 50px;
	}

	.header {
		height: 600px;
	}

	.banner-info img {
		height: 220px;
	}
	.banner-info h1 {
		font-family: 'Great Vibes', cursive;
		font-size: 60px;
	}
	.banner-info h2 {
		font-size: 30px;
	}

	.banner-info p {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.about {
		display: flex;
		padding: 40px 100px 80px 100px;
		align-items: center;
	}
	.projects h4 {
		font-size: 25px;
	}
	.lang-info {
		padding-bottom: 100px;
	}
	.lang-info h4 {
		font-size: 35px;
		font-family: 'Great Vibes', cursive;
	}
} */
